<div class="component">
    <button class="btn btn-primary" (click)="getToken()">获取token</button>
    <button class="btn btn-danger" (click)="setToken()">设置token</button>
    <button class="btn btn-success" (click)="addDevice()">添加设备</button>
    <button class="btn btn-success" (click)="deviceInfo()">设备信息</button>
    <button class="btn btn-success" (click)="getStorage()">取localstorage</button>
    <button class="btn btn-success" (click)="getAllMonitor()">分页查询监控点</button>
    <button class="btn btn-success" (click)="getMonitor()">监控点信息</button>
    <button class="btn btn-success" (click)="getCapacity()">获取设备能力集</button>
    <button class="btn btn-success" (click)="liveAddress()">liveAddress</button>
    <button class="btn btn-success" (click)="preview()">获取设备视频预览界面</button>
    <button class="btn btn-success" (click)="playback()">获取设备录像回放界面</button>
    <button class="btn btn-success" (click)="ocxPlayerInit()">ocxPlayerInit</button>
    <button class="btn btn-success" (click)="getLocalVersion()">getLocalVersion</button>
</div>
<div #cctvwin style="width: 800px;height: 600px;"></div>
